// paper & background
$paper: #ffffff;

// primary
$primaryLight: #e3f2fd;
$primary200: #90caf9;
$primaryMain: #1e88e5;
$primaryDark: #1565c0;
$primary800: #0a407d;

// secondary
$secondaryLight: #e4ffe9;
$secondary200: #a8feb6;
$secondaryMain: #36b84c;
$secondaryDark: #1c812e;
$secondary800: #0d5a1b;

// tertiary
$tertiaryLight: #fff8e4;
$tertiary200: #fbe7aa;
$tertiaryMain: #ffd34f;
$tertiaryDark: #ffb800;
$tertiary800: #fc9803;

// success Colors
$successLight: #b9f6ca;
$success200: #69f0ae;
$successMain: #00e676;
$successDark: #00c853;

// error
$errorLight: #ef9a9a;
$errorMain: #f44336;
$errorDark: #c62828;

// orange
$orangeLight: #fbe9e7;
$orangeMain: #ffab91;
$orangeDark: #d84315;

// warning
$warningLight: #fff8e1;
$warningMain: #ffe57f;
$warningDark: #ffc107;

// grey
$grey50: #fafafa;
$grey100: #f5f5f5;
$grey200: #bebebe;
$grey300: #acacac;
$grey500: #858585;
$grey600: #505050;
$grey700: #3b3b3b;
$grey900: #212121;

// ===========================|| JAVASCRIPT ||=========================== //

:export {
    // paper & background
    paper: $paper;

    // primary
    primaryLight: $primaryLight;
    primary200: $primary200;
    primaryMain: $primaryMain;
    primaryDark: $primaryDark;
    primary800: $primary800;

    // secondary
    secondaryLight: $secondaryLight;
    secondary200: $secondary200;
    secondaryMain: $secondaryMain;
    secondaryDark: $secondaryDark;
    secondary800: $secondary800;

    // tertiary
    tertiaryLight: $tertiaryLight;
    tertiaryMain: $tertiaryMain;
    tertiaryDark: $tertiaryDark;
    tertiary200: $tertiary200;
    tertiary800: $tertiary800;

    // success
    successLight: $successLight;
    success200: $success200;
    successMain: $successMain;
    successDark: $successDark;

    // error
    errorLight: $errorLight;
    errorMain: $errorMain;
    errorDark: $errorDark;

    // orange
    orangeLight: $orangeLight;
    orangeMain: $orangeMain;
    orangeDark: $orangeDark;

    // warning
    warningLight: $warningLight;
    warningMain: $warningMain;
    warningDark: $warningDark;

    // grey
    grey50: $grey50;
    grey100: $grey100;
    grey200: $grey200;
    grey300: $grey300;
    grey500: $grey500;
    grey600: $grey600;
    grey700: $grey700;
    grey900: $grey900;
}
